 h1 {
            color: purple;
            text-align: center;
        }
        
        #esse {
            color: #b963b9;
            text-align:center;
        }
        .purple {
            background-color: rgb(199, 129, 199);
        }
        #pag {
            text-align: center;
        }